@layer base {
  :root {
    --radius-small: 3px;
    --radius-large: 6px;
    --gap-default: 2rem;
    --font-measure: 70ch;
    --font-family-default: "Open Sans", sans-serif;
    --font-family-special: "Open Sans", sans-serif;

    --onSurfaceTW: 227 226 229;

    --primary: #001326;
    --surfaceTint: #47607e;
    --onPrimary: #ffffff;
    --primaryContainer: #18334e;
    --onPrimaryContainer: #a8c2e4;
    --secondary: #666000;
    --onSecondary: #ffffff;
    --secondaryContainer: #f6ed6f;
    --onSecondaryContainer: #524d00;
    --tertiary: #775a00;
    --onTertiary: #ffffff;
    --tertiaryContainer: #fbc322;
    --onTertiaryContainer: #493600;
    --error: #ba1a1a;
    --onError: #ffffff;
    --errorContainer: #ffdad6;
    --onErrorContainer: #410002;
    --background: #faf9fb;
    --onBackground: #1a1c1e;
    --surface: #faf9fb;
    --onSurface: #1a1c1e;
    --surfaceVariant: #dfe2ea;
    --onSurfaceVariant: #43474d;
    --outline: #74777e;
    --outlineVariant: #c3c6ce;
    --shadow: #000000;
    --scrim: #000000;
    --inverseSurface: #2f3033;
    --inverseOnSurface: #f1f0f3;
    --inversePrimary: #aec9eb;
    --primaryFixed: #d1e4ff;
    --onPrimaryFixed: #001d36;
    --primaryFixedDim: #aec9eb;
    --onPrimaryFixedVariant: #2f4865;
    --secondaryFixed: #efe669;
    --onSecondaryFixed: #1e1c00;
    --secondaryFixedDim: #d3ca50;
    --onSecondaryFixedVariant: #4c4800;
    --tertiaryFixed: #ffdf99;
    --onTertiaryFixed: #251a00;
    --tertiaryFixedDim: #f6be1c;
    --onTertiaryFixedVariant: #5a4300;
    --surfaceDim: #dad9dc;
    --surfaceBright: #faf9fb;
    --surfaceContainerLowest: #ffffff;
    --surfaceContainerLow: #f4f3f6;
    --surfaceContainer: #efedf0;
    --surfaceContainerHigh: #e9e8ea;
    --surfaceContainerHighest: #e3e2e5;
  }
  .darkmode {
    --onSurfaceTW: 227 226 229;

    --primary: #aec9eb;
    --surfaceTint: #aec9eb;
    --onPrimary: #16324d;
    --primaryContainer: #001d37;
    --onPrimaryContainer: #8fa9ca;
    --secondary: #ffffff;
    --onSecondary: #353200;
    --secondaryContainer: #e1d85c;
    --onSecondaryContainer: #454100;
    --tertiary: #ffe5b0;
    --onTertiary: #3f2e00;
    --tertiaryContainer: #ecb60c;
    --onTertiaryContainer: #3e2e00;
    --error: #ffb4ab;
    --onError: #690005;
    --errorContainer: #93000a;
    --onErrorContainer: #ffdad6;
    --background: #121315;
    --onBackground: #e3e2e5;
    --surface: #121315;
    --onSurface: #e3e2e5;
    --surfaceVariant: #43474d;
    --onSurfaceVariant: #c3c6ce;
    --outline: #8d9198;
    --outlineVariant: #43474d;
    --shadow: #000000;
    --scrim: #000000;
    --inverseSurface: #e3e2e5;
    --inverseOnSurface: #2f3033;
    --inversePrimary: #47607e;
    --primaryFixed: #d1e4ff;
    --onPrimaryFixed: #001d36;
    --primaryFixedDim: #aec9eb;
    --onPrimaryFixedVariant: #2f4865;
    --secondaryFixed: #efe669;
    --onSecondaryFixed: #1e1c00;
    --secondaryFixedDim: #d3ca50;
    --onSecondaryFixedVariant: #4c4800;
    --tertiaryFixed: #ffdf99;
    --onTertiaryFixed: #251a00;
    --tertiaryFixedDim: #f6be1c;
    --onTertiaryFixedVariant: #5a4300;
    --surfaceDim: #121315;
    --surfaceBright: #38393b;
    --surfaceContainerLowest: #0d0e10;
    --surfaceContainerLow: #1a1c1e;
    --surfaceContainer: #1e2022;
    --surfaceContainerHigh: #292a2c;
    --surfaceContainerHighest: #343537;
  }
}
