@layer base {
  :root {
    --radius-small: 3px;
    --radius-large: 6px;
    --gap-default: 2rem;
    --font-measure: 70ch;
    --font-family-default: "Open Sans", sans-serif;
    --font-family-special: "Open Sans", sans-serif;

    --onSurfaceTW: 28 27 27;

    --primary: #4a438d;
    --surfaceTint: #5c55a0;
    --onPrimary: #ffffff;
    --primaryContainer: #625ba7;
    --onPrimaryContainer: #e4dfff;
    --secondary: #9c3e33;
    --onSecondary: #ffffff;
    --secondaryContainer: #bb5549;
    --onSecondaryContainer: #fffbff;
    --tertiary: #7b5800;
    --onTertiary: #ffffff;
    --tertiaryContainer: #eebc57;
    --onTertiaryContainer: #694b00;
    --error: #ba1a1a;
    --onError: #ffffff;
    --errorContainer: #ffdad6;
    --onErrorContainer: #93000a;
    --background: #fcf8ff;
    --onBackground: #1c1b20;
    --surface: #fdf8f7;
    --onSurface: #1c1b1b;
    --surfaceVariant: #e3e2e7;
    --onSurfaceVariant: #46464b;
    --outline: #77767c;
    --outlineVariant: #c7c6cb;
    --shadow: #000000;
    --scrim: #000000;
    --inverseSurface: #31302f;
    --inverseOnSurface: #f4f0ee;
    --inversePrimary: #c6bfff;
    --primaryFixed: #e4dfff;
    --onPrimaryFixed: #17095a;
    --primaryFixedDim: #c6bfff;
    --onPrimaryFixedVariant: #443c87;
    --secondaryFixed: #ffdad5;
    --onSecondaryFixed: #410001;
    --secondaryFixedDim: #ffb4a9;
    --onSecondaryFixedVariant: #802920;
    --tertiaryFixed: #ffdea4;
    --onTertiaryFixed: #261900;
    --tertiaryFixedDim: #f1bf5a;
    --onTertiaryFixedVariant: #5d4200;
    --surfaceDim: #ddd9d8;
    --surfaceBright: #fdf8f7;
    --surfaceContainerLowest: #ffffff;
    --surfaceContainerLow: #f7f3f1;
    --surfaceContainer: #f1edeb;
    --surfaceContainerHigh: #ebe7e6;
    --surfaceContainerHighest: #E6E2E;
  }
  .darkmode {
    --onSurfaceTW: 230 226 224;

    --primary: #c6bfff;
    --surfaceTint: #c6bfff;
    --onPrimary: #2d256f;
    --primaryContainer: #625ba7;
    --onPrimaryContainer: #e4dfff;
    --secondary: #ffb4a9;
    --onSecondary: #61120c;
    --secondaryContainer: #df7062;
    --onSecondaryContainer: #550906;
    --tertiary: #ffdb99;
    --onTertiary: #412d00;
    --tertiaryContainer: #eebc57;
    --onTertiaryContainer: #694b00;
    --error: #ffb4ab;
    --onError: #690005;
    --errorContainer: #93000a;
    --onErrorContainer: #ffdad6;
    --background: #131318;
    --onBackground: #e5e1e8;
    --surface: #141313;
    --onSurface: rgb(230, 226, 224);
    --surfaceVariant: #46464b;
    --onSurfaceVariant: #c7c6cb;
    --outline: #919095;
    --outlineVariant: #46464b;
    --shadow: #000000;
    --scrim: #000000;
    --inverseSurface: #e6e2e0;
    --inverseOnSurface: #31302f;
    --inversePrimary: #5c55a0;
    --primaryFixed: #e4dfff;
    --onPrimaryFixed: #17095a;
    --primaryFixedDim: #c6bfff;
    --onPrimaryFixedVariant: #443c87;
    --secondaryFixed: #ffdad5;
    --onSecondaryFixed: #410001;
    --secondaryFixedDim: #ffb4a9;
    --onSecondaryFixedVariant: #802920;
    --tertiaryFixed: #ffdea4;
    --onTertiaryFixed: #261900;
    --tertiaryFixedDim: #f1bf5a;
    --onTertiaryFixedVariant: #5d4200;
    --surfaceDim: #141313;
    --surfaceBright: #3a3938;
    --surfaceContainerLowest: #0f0e0e;
    --surfaceContainerLow: #1c1b1b;
    --surfaceContainer: #201f1f;
    --surfaceContainerHigh: #2b2a29;
    --surfaceContainerHighest: #363434;
  }
}
