---
import SectionHeading from "~/components/common/SectionHeading.astro";
import InlineEmailNetlify from "~/components/react/InlineEmailNetlify";
import Button from "~/components/common/Button.astro";

const {addClasses, subtitle, title, learnLink="/contact", sectionbg, divbg, signup} = Astro.props
---

<section class:list={["w-full flex items-center justify-center", sectionbg]}>
    <div class:list={["container  flex flex-col md:flex-row  max-w-screen-xl items-center justify-center md:justify-between p-4 sm:py-8 sm:px-6 md:px-8 gap-8 ", divbg]}>

        <SectionHeading {addClasses} {subtitle} {title}/>
        {
            signup ?
                <InlineEmailNetlify client:load transition:persist />
            : 
			<div class="flex gap-4 justify-center items-center md:justify-start ">
				<Button addClasses="order-last sm:order-first inline-flex  size-tiny sm:size-small" text="Contact Us" href="/contact" type="color-primary"  />
				<Button addClasses="order-last sm:order-first inline-flex  size-tiny sm:size-small" text="Learn More" href={learnLink} type="outlined"   />

			</div>
            
        }
        

    </div>
</section>