---
import { Image } from "astro:assets"
const {text, logos, id} = Astro.props
---

<section class="flex max-w-(80svw) w-[80svw] gap-4 items-center jusify-centre min-h-32 my-8 bg-pink-100 lg:flex-row flex-col" id={id}>

    <div class="flex-auto bg-orange-200 w-1/3 text-center lg:text-left">
        {text}
    </div>

    <div class="flex-auto flex gap-4 justify-around bg-green-300 w-full flex-wrap items-center">
            <!-- LOGOS -->
        {
            logos.map((logo:any) => (
                <img src={logo.src} alt={logo.name}>
            ))
        }
    </div>
</section>