---
import '~/styles/global.css'


import BaseHead, { type Props as HeadProps } from '~/components/page/BaseHead.astro';
import SkipLink from "~/components/common/SkipLink.astro";
import Header, { type Props as HeaderProps } from "~/components/page/Header.astro";
import Footer from "~/components/page/Footer.astro";
import Footer9 from '~/components/page/Footer9.astro';
import Cookies from "~/components/cookies/Cookies.astro";

interface Props extends HeadProps, HeaderProps {
	class?: string;
    type?: string;
}

const { class: classList, header = "opaque", type = "website", ...head } = Astro.props;
---

<html dir="ltr" lang="en">
	<head>
        <BaseHead {...head} />
	</head>

	<body class="flex flex-col w-full items-center bg-neutral ">
		<SkipLink />
        
        <Header {header} fontColors=" hover:text-(--onPrimary) hover:bg-(--surfaceTint)  rounded-md "/>

        <main class:list={["relative z-0  flex-auto max-w-7xl w-[80svw]  overflow-x-hidden flex  flex-col items-center justify-start  text-(--onSurface) my-12" ]}>
            <slot />
        </main>

        
        <Footer9 boxClasses="rounded-lg bg-(--inverseSurface) text-white" footer/>
        
        <!-- <Cookies /> -->
	</body>
</html>