---
import '../styles/global.css'

import BaseHead, { type Props as HeadProps } from '~/components/page/BaseHead.astro';
import SkipLink from "~/components/common/SkipLink.astro";
import Header, { type Props as HeaderProps } from "~/components/page/Header.astro";
import Footer from "~/components/page/Footer.astro";
import Cookies from "~/components/cookies/Cookies.astro";

interface Props extends HeadProps, HeaderProps {
	class?: string;
    type?: string;
}

const { class: classList, header = "transparent", type = "website", ...head } = Astro.props;
---

<html dir="ltr" lang="en">
	<head>
        <BaseHead {...head} />
	</head>

	<body>
		<SkipLink />
        
        <Header {header} fontColors="text-[--onPrimary] hover:text-[--onSurface] hover:bg-[--surfaceContainer]  rounded-md uppercase"/>

        <main class:list={["relative z-0  flex-auto w-full max-w-full overflow-x-hidden flex  flex-col items-center justify-start  bg-[--primary] text-[--onSurface]" ]}>
            <slot />
        </main>

        <Footer />
        
        <!-- <Cookies /> -->
	</body>
</html>